DB_HOST=[DB_HOST]
DB_PORT=[DB_PORT]
DB_USER=[YOUR_USERNAME]
DB_PASSWORD=[YOUR_PASSWORD]
DB_ENGINE=postgres
DB_ENVIRONTMENT=development
JWT_SECRET=[YOUR_SECRET_KEY]
JWT_EXPIRATION=7776000
XENDIT_HOST=https://api.xendit.co
XENDIT_SECRET_KEY=[YOUR_SECRET_KEY]
MERCHANT_NAME=Furnish
MERCHANT_ICON=https://du8nwjtfkinx.cloudfront.net/xendit.png